# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Data
data/
*.nii
*.nii.gz
*.zip
*.tar
*.tar.gz
*.npy
*.npz

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

fsl/
fsl/
